[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
rheometrics = {file = "package/rheometrics-0.2-py3-none-any.whl"}
flask = "*"
pyinstaller = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.11"
